/* Outfit font cdn */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Ovo font cdn */
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
/* Dosis font cdn */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


/* Import tailwind */
@import 'tailwindcss';
/* Import daisyui */
@plugin "daisyui";

.outfit-font {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
}

.ovo-font {
  font-family: 'Ovo', serif;
  font-style: normal;
}

.dosis-font {
  font-family: "Dosis", sans-serif;
  font-style: normal;
}

*{
  scroll-behavior : smooth;
  cursor: default;
}

.text-outline-black {
  -webkit-text-stroke: 2px black;
}

.glow-border {
  position: relative;
  z-index: 0;
  border-radius: 0.75rem; /* rounded-xl */
}

.glow-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, #d3cdf7, #f3a6fd, #fde2e2);
  background-size: 400% 400%;
  animation: borderAnim 6s linear infinite;
  z-index: -1;
  border-radius: inherit;
  mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  padding: 2px;
  box-sizing: border-box;
}

@keyframes borderAnim {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Theme related setting */
@custom-variant dark (&:where(.dark, .dark *));

/* Website reusable colors */
@theme {

}


